.zong{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.header{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 45px;
    line-height: 45px;
    background: #006699;
    text-align: center;
    color: #fff;
}
.header .a1{
    color: #fff;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 18px;
    padding: 3px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.top{
    padding-top: 45px;
    padding-bottom: 50px;
    height: 100%;
    width: 100%;
    position: relative;
}
